
.huklGi {
  position: sticky!important;
  width: 40%;
  height: 46px;
}
#column-email,#column-first_name,#column-last_name{
  font-weight: 700;
  font-size: large;
}
.jbjDLF{
min-height: 10px!important;
}
.cLfLqM {
  font-size: 16px !important;
}
.cZPoRV{
width: 70%!important;
margin-left: 17%;
}

.MuiFormControl-root {
  width: 40%;

}