.App{
  align-items: center;
}
.usersList{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.huklGi {
  position: sticky!important;
  width: 40%;
  height: 46px;
}
#column-email,#column-first_name,#column-last_name{
  font-weight: 700;
  font-size: large;
}
.jbjDLF{
min-height: 10px!important;
}
.hBLBhZ div:first-child,.bQLtly div:first-child {
  font-size: 16px;
}
.gAuPhq {
  width: 60%!important;
}

.MuiFormControl-root {
  width: 60%;
}
.form{
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}